.entradas{
    color: #03151E;
    width: 100%;
    padding: 0.5em 1em;
    
}

.entradas input, textarea{
    font-size: 14px;
    outline: none;
    border: 1px solid #03151E;
    width: 100%;
    padding: .7em;
    border-radius: 1em;
    color: #03151E;
}
 .entradas input{
    height: 2.5em;
 }

 .entradas input::placeholder{
    color: #03151eae;
 }