.entrada{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.senha{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.icone{
    position: absolute;
    right: 25px;
    color: #03151eae;
}

.icone:hover{
    cursor: pointer;
}

.lembrar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.lembrar a{
    color: #4BC1D2;
    font-weight: bold;
    text-decoration: none;
}

.lembrar a:hover{
    color: #03151E;
}
